---
import Layout from '../layouts/Layout.astro';
import Result from '../components/Result.astro';
import Summary from '../components/Summary.astro';
---

<Layout title="Summary Component">
	<main>
		<Result />
		<Summary />
	</main>
</Layout>

<style>
	main {
		max-width: 100%;
		min-height: 90vh;
		position: relative;
		display: flex;
		align-items: center;	
		justify-content: center;
	}
	@media (width < 510px) {
		main {
			flex-direction: column;
		}
	}
</style>
