---
import Layout from '../layouts/Layout.astro';
import Result from '../components/Result.astro';
import data from '../data.json';
---

<Layout title="Summary Component">
	<main>
		<Result />
	</main>
</Layout>

<style>
	main {
		max-width: 100%;
		min-height: 90vh;
		position: relative;
		display: flex;
		align-items: center;	
		justify-content: center
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	div {
		width: 320px;
		height: 230px;
		background-color: red;
		border-radius: 12px;	
	}
</style>
